<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link href="/css/custom/home.css"  rel="stylesheet"  type="text/css"/>

</head>
<body>

<div th:replace="fragments/header :: header"></div>


<div sec:authorize="hasRole('ROLE_ADMIN')"    class="list-group">
            <a  th:each="u: ${users}" href="@{'/users/' + ${u.getId()}}" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" th:text="${u.getFirstName()}+' '+${u.getLastName()}"/>
                    <small th:text="${u.getProfession().getName()}"/>
                </div>
                <small th:text="${u.getEmail()}"/>
            </a>
</div>





<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:href="@{/js/bootstrap.js}"  type="application/javascript; charset=UTF-8"></script>

</body>
</html>