<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  th:href="@{/css/bootstrap.css}" type="text/css"/>
  </head>
<body>

<div th:replace="fragments/header :: header"></div>


<div class="container">
    <h1>Login page</h1>
    <p th:if="${error}" class="error" th:text="${error}"></p>
    <p th:if="${message}" class="message" th:text="${message}"></p>
    <form th:action="@{/register}" method="post">
        <label for="login">Login</label>:
        <input type="text" id="login" name="login" required autofocus="autofocus" /> <br />

        <label for="firstName">Name</label>:
        <input type="text" id="firstName" name="firstName" required/> <br />

        <label for="lastName">Last Name</label>:
        <input type="text" id="lastName" name="lastName" required /> <br />

        <label for="email">Email</label>:
        <input type="text" id="email" name="email" required/> <br />

        <label for="roleId">Choose a role:</label>
        <select id="roleId" name="roleId">
            <option value="1">Admin</option>
            <option value="2">User</option>
        </select>



        <label for="password">Password</label>:
        <input type="password" id="password" name="password" /> <br />


        <input type="submit" value="Register" />
    </form>

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:href="@{/js/bootstrap.js}"  type="application/javascript; charset=UTF-8"></script>

</body>
</html>